<h2>My Heroes</h2>
<ul class="heroes">
  <!-- for toggling css style class with a class binding. use [class.selected] = " ......." -->
  <li 
    *ngFor="let hero of heroes" 
  >
     <a routerLink="/detail/{{hero.id}}">
        <span class="badge"> {{hero.id}} </span>
        {{hero.name}}
     </a>
    <button 
      class="delete" 
      title="delete hero" 
      (click)="deleteHero(hero)"
    >
      x
    </button>

  </li>
</ul>


<div>
  <label for="new-hero">Hero name:</label>
  <input id="new-hero" #heroName/>

  <button (click)="add(heroName.value); heroName.value=''"> Add hero</button>
  
</div>


